@import "shared.scss";
.text-detector-wrapper {
  color: white;
  background-color: black;
  box-shadow: 0px 0px 5px 0px #000000;
  .inspector-mark-tag {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .inspector-mark-line {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .inspector-mark-ids {
    color: violet;
  }
  .inspector-mark-line .inspector-color-pick {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
