.text-detector-wrapper {
  color: white;
  position: fixed;
  z-index: 1000000000000000000000;
  background-color: black;
  width: 300px;
  padding: 16px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-detector-wrapper p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: inherit;
}
.text-detector-wrapper small {
  font-weight: 400;
  font-size: 8px;
  text-transform: uppercase;
  font-family: inherit;
  opacity: 0.7;
}
.text-detector-wrapper .inspect-disabled-item {
  opacity: 0.3;
  user-select: none;
  font-size: 10px;
}
